:root {
  /* Default Fallback Theme Variables */

  --theme-main-color: #000000;     
  --theme-background-color: #4b812693;
  --theme-text-color: #fadf16;       
  --theme-button-color: #fadf16;    

}
